@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-blue-200: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-dark-bg: #101214;
  --color-dark-secondary: #1d1f21;
  --color-dark-tertiary: #3b3d40;
  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;
}

@theme dark {
  --color-white: #101214;
  --color-gray-100: #1f2937;
  --color-gray-200: #374151;
  --color-gray-300: #4b5563;
  --color-gray-500: #9ca3af;
  --color-gray-700: #d1d5db;
  --color-gray-800: #e5e7eb;
  --color-blue-200: #60a5fa;
  --color-blue-400: #3b82f6;
  --color-blue-500: #2563eb;
  --color-dark-bg: #ffffff;
  --color-dark-secondary: #f3f4f6;
  --color-dark-tertiary: #e5e7eb;
  --color-blue-primary: #1d4ed8;
  --color-stroke-dark: #e5e7eb;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root,
  .app {
    height: 100%;
    width: 100%;
    @apply text-sm bg-gray-500 text-gray-900;
  }
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
  .bg-gradient-conic {
    background-image: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  }
}
